# Ignore virtual environment files
venv/
env/

# Ignore database files
db.sqlite3

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log
*__pycache__/
*migrations/

# Ignore compiled Python files
*.pyc

# Ignore media and static files (if not managed by a CDN)
media/
static/

# Ignore sensitive or environment-specific configuration files
config.ini
.env

# Ignore files generated during build
/build/

# Ignore macOS specific files
.DS_Store

# Ignore npm dependencies (if using Node.js)
node_modules/
